<!DOCTYPE html>
<html>

<head>
    <title>Step1</title>
    <link rel="stylesheet" href="vendor/foundation.min.css">
</head>

<body>

    <div ng-app="" ng-controller="personController">

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}

    </div>

    <script>
        function personController($scope) {
            $scope.firstName="John",
                $scope.lastName="Doe"
        }
    </script>

    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/components/controller/MyAppController.js"></script>

</body>

</html>
